body {
    margin: 0;
    background-color: rgb(76, 76, 76);
    color: white;
}


h1 {
    font-size: 5vh;
    font-family: 'Comfortaa', cursive;
}

h2 {
    font-size: 3vh;
    font-family: 'Comfortaa', cursive;
}

p {
    font-size: 2vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

ul li:hover {
  background: #555;
}

ul li:hover ul {
  display: block;
}

ul li ul {
  position: absolute;
  width: 25vh;
  display: none;
  margin-top: 6vh;
  background-color: #555;
}

ul li ul li { 
  background: white; 
  display: block; 
}

ul li ul li a {
  display:block !important;
} 
ul li ul li:hover {
  background: grey;
}

.homeLink {
  text-decoration: none;
  color: inherit;
}

.navFont {
  font-family: 'Comfortaa', cursive;
}

.nav {
  background-color: rgb(31, 31, 31);
  overflow: hidden;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 30px;
}

.nav a:hover {
  background-color: white;
  color: rgb(31, 31, 31);
}

.nav a.orangeActive {
  background-color: rgb(255, 157, 0);
}

.nav a.blueActive {
  background-color: rgb(0, 0, 195);
}

.nav a.pinkActive {
  background-color: rgb(254, 101, 249);
}

.nav a.purpleActive {
  background-color: rgb(109, 58, 166);
}

.nav a.lighterBlueActive {
  background-color: rgb(42, 141, 244);
}

.nav a.yellowActive {
  background-color: rgb(255, 195, 83);
}

.nav a.paleOrangeActive {
  background-color: rgb(225, 169, 64);
}

.nav a.lightBlueActive {
  background-color: rgb(0, 84, 255);
}



.heroVideo {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    height: 40vh;
    width: 100%;
    z-index: -1;
}

.orange {
    background-color: rgb(255, 157, 0);
    border: 10px solid rgb(255, 157, 0);
    text-align: center;
}

.blue {
  background-color: rgb(0, 0, 195);
    border: 10px solid rgb(0, 0, 195);
    text-align: center;
}

.paleorange {
  background-color: rgb(225, 169, 64);
    border: 10px solid rgb(225, 169, 64);
    text-align: center;
}

.yellow {
  background-color: rgb(255, 195, 83);
    border: 10px solid rgb(255, 195, 83);
    text-align: center;
}

.pink {
  background-color: rgb(254, 101, 249);
    border: 10px solid rgb(254, 101, 249);
    text-align: center;
}

.lightblue {
  background-color: rgb(0, 84, 255);
    border: 10px solid rgb(0, 84, 255);
    text-align: center;
}

.purple {
  background-color: rgb(109, 58, 166);
  border: 10px solid rgb(109, 58, 166);
  text-align: center;
}

.lighterblue {
  background-color: rgb(42, 141, 244);
  border: 10px solid rgb(42, 141, 244);
  text-align: center;
}

main {
    margin-top: 45vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

* {box-sizing: border-box;}

.slideshowContainer {
  max-width: 50%;
  position: relative;
  margin: auto;
  justify-content: center;
}

.slideshowContainer img {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.slideshow {
  display: none;
}

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
}

.previous:hover, .next:hover {
  background-color: gray;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.flexHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  flex-wrap: wrap;
  margin: 0 auto;
}

.flexHome2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 0;
}

.home {
  max-width: 33.6vh;
  background-color: grey;
  border: 10px solid gray;
  margin: 3vh;
}

img {max-width:100%;}

.boxshadow {
  box-shadow:
  2.3px 1.7px 0px rgba(0, 0, 0, 0.024),
  6.3px 4.8px 0px rgba(0, 0, 0, 0.035),
  15.1px 11.5px 0px rgba(0, 0, 0, 0.046),
  50px 38px 0px rgba(0, 0, 0, 0.07)
;


}